<h1><%= action_name.capitalize %> Book</h1>

<%= form_with model: @book, local: true do |form| %>
  <% if @book.errors.any? %>
    <div class="alert">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.submit "#{action_name.capitalize} Book", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to List', books_path, class: 'btn' %>
